<div id="meetroom">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">{{currentCompany.name}}</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="javascript:void(0)" (click)="openModal(ChangeMeetingRoom)">Switch Room</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!--this is used for load meeting room information-->
        <router-outlet></router-outlet>
        <div class="mastfoot">
          <div class="inner">
            <p> powered by <a href="https://github.com/raycdut">@raycdut</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<template #ChangeMeetingRoom>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Change Meeting Room</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </template>