<!-- Carousel
    ================================================== -->
<carousel>
  <slide>
    <img src="assets/images/meetingroom/meeting1.jpg" height="100%" width="100%">
  </slide>
  <slide>
    <img src="assets/images/meetingroom/meeting2.jpg" height="100%" width="100%">
  </slide>
  <slide>
    <img src="assets/images/meetingroom/meeting3.jpg" height="100%" width="100%">
  </slide>
  <slide>
    <img src="assets/images/meetingroom/meeting4.jpg" height="100%" width="100%">
  </slide>
  <slide>
    <img src="assets/images/meetingroom/meeting5.jpg" height="100%" width="100%">
  </slide>
</carousel>
