<!-- To bind to a raw string -->
<app-mm-navigationbar pageName='home'></app-mm-navigationbar>
<!-- To bind to a variable in the parent scope -->
<!-- <app-mm-navigationbar [pageName] = 'home'></app-mm-navigationbar> -->
<app-mm-carousel></app-mm-carousel>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="assets/images/meetingroom/openSource.jpg" alt="open source"
        width="140" height="140">
      <h2>Open Source</h2>
      <p>The source code of the meeting room management is hosted in github. You can easy to download and free to use.   
         
      </p>
      <p><a class="btn btn-default" href="https://github.com/raycdut/MeetingMaster" role="button">View Code &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/images/meetingroom/mobile.jpg" alt="Responsive Design"
        width="140" height="140">
      <h2>Responsive Design</h2>
      <p>This solution use bootstrap as responsive design framework, and use angular 4 as front-end framework.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/images/meetingroom/functional.jpg" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Fully Functional</h2>
      <p>This software contains meeting room management, meeting room booking, and meeting room dashboard functions.</p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Meeting room management.</h2>
      <p class="lead">As admin of the Company you can easy to maintan the meeting rooms information.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="assets/images/meetingroom/manage.jpg" alt="management">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Meeting room booking</h2>
      <p class="lead">You can booking the meeting room from anywhere.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="assets/images/meetingroom/booking.jpg" alt="booking">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Meeting room dashboard</h2>
      <p class="lead">You can find the meeting room's information from the dashboard, eg. who are using them...</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="assets/images/meetingroom/inmeeting.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div>
<!-- /.container -->
